<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Lanchonete teste André Nunes</title>	
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" >
    </head>

	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/lanche.png" style="height: 40px;" />
				</div>				
			</div>
		</nav>
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-7">
	    			<div class="title_wrapper" id="cardapio">
		    			<span class="title">Cardápio</span>                       
		    		</div>
		    	</div>

	    		<div class="col-md-5">
	    			<div class="title_wrapper" id="ingredientes">
                        <span class="title">Monte o seu</span>	                        	    		
                    </div>                    
		    	</div>
	    	</div>
        </div>  
        <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">
	    			<div class="title_wrapper" id="carrinho">
                        <span class="title">Meu carrinho</span> 
                                             
                    </div>
                    <div>Valor total da compra: <span id="valor"></span></div>                     
		    	</div>
	    	</div>
        </div> 
        <script src="js/jquery-2.2.1.js"></script>   
        <script src="js/index.js"></script>
	</body>
</html>